.main {
	display: flex;
	align-items: center;
}

.leftSection {
	background-color: #f8f8f8;
	width: 50vw;
	height: 100vh;
	padding: 60px;
	position: fixed;
	top: 0;
	left: 0;
	height: 100vh;
	display: flex;
	flex-direction: column;
}

.leftSection::-webkit-scrollbar {
	width: 0px;
}

.rightSection {
	width: 50vw;
	height: 100vh;
	position: fixed;
	display: flex;
	flex-direction: column;
	top: 0;
	right: 0;
	gap: 50px;
	background-color: #f8f8f8;
	overflow-y: scroll;
	box-shadow: 0 0 30px rgba(0, 0, 0, 1) inset;
	padding: 60px;
}

.title {
	font-family: inter;
	font-weight: 900;
	color: #333333;
	font-size: 60px;
}

.position {
	font-family: inter;
	font-weight: 700;
	color: #555555;
	font-size: 20px;
	margin-top: 10px;
}

.desc {
	font-family: inter;
	font-weight: 500;
	color: #777777;
	font-size: 14px;
	margin-top: 30px;
}

.listContainer {
	display: flex;
	flex-direction: column;
	gap: 10px;
	margin-top: 30px;
}

.listItem {
	font-family: inter;
	font-weight: 900;
	color: #333333;
	font-size: 14px;
	text-transform: uppercase;
	padding: 8px;
	transition: all 0.2s ease;
	background-color: #dddddd;
	border-radius: 3px;
}

.listItem:hover {
	background-color: #999999;
	transform: scale(1.05);
	cursor: pointer;
}

.listItem:active {
	transform: scale(0.98);
}

.socialContainer {
	display: flex;
	align-items: center;
	margin-top: 30px;
	gap: 25px;
}

.socialTitle {
	font-family: inter;
	font-weight: 900;
	color: #333333;
	font-size: 14px;
	text-decoration: underline;
	transition: all 0.2s ease;
	cursor: pointer;
}

.socialTitle:hover {
	transform: translateY(-2px);
}

.socialTitle:active {
	transform: translateY(2px);
}

.subsection {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.blogPostContainer {
	background-color: #333333;
	padding: 25px;
	display: flex;
	flex-direction: column;
	transition: all 0.2s ease;
	border-radius: 5px;
}

.blogPostContainer:hover {
	transform: scale(1.1);
	cursor: pointer;
}

.blogPostContainer:active {
	transform: scale(0.98);
}

.type {
	font-family: inter;
	font-weight: 600;
	color: #dddddd;
	font-size: 12px;
	text-transform: uppercase;
	margin-bottom: 10px;
}

.blogPostTitle {
	font-family: inter;
	font-weight: 700;
	color: #f8f8f8;
	font-size: 25px;
}

.blogPostBody {
	font-family: inter;
	font-weight: 300;
	color: white;
	font-size: 14px;
	margin-top: 10px;
}

.link {
	font-family: inter;
	font-weight: 600;
	color: #555555;
	font-size: 12px;
	text-transform: uppercase;
	transition: all 0.2s ease;
	cursor: pointer;
}

.blogImage {
	width: 150px;
	margin: 0px auto;
	margin-top: 20px;
}

.link:hover {
	transform: translateY(-2px);
}

.link:active {
	transform: translateY(2px);
}

.date {
	font-family: inter;
	font-weight: 500;
	color: #dddddd;
	font-size: 12px;
	margin-top: 15px;
}
.aboutSubsection {
	display: flex;
	flex-direction: column;
	gap: 30px;
}

.questionAnswerContainer {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.questionContainer {
	background-color: #333333;
	padding: 25px;
	border-radius: 5px;
}

.answerContainer {
	background-color: #777777;
	padding: 25px;
	border-radius: 5px;
}

.question {
	font-family: inter;
	font-weight: 600;
	color: #f8f8f8;
	font-size: 16px;
	margin-top: 5px;
}

@media (max-width: 1302px) {
	.main {
		flex-direction: column;
	}

	.leftSection {
		position: unset;
		width: 100%;
		overflow-y: auto;
		height: auto;
		padding-bottom: 50px;
	}

	.rightSection {
		position: unset;
		width: 100%;
		overflow-y: auto;
		height: auto;
		overflow: visible;
	}

	.subsection {
		padding: 0px;
	}

	.aboutSubsection {
		padding: 0px;
	}
}

@media (max-width: 750px) {
	.leftSection {
		padding-bottom: 40px;
		padding: 48px;
	}

	.rightSection {
		gap: 40px;
		padding: 48px;
	}

	.title {
		font-size: 48px;
	}

	.position {
		font-size: 16px;
		margin-top: 8px;
	}

	.desc {
		font-size: 11px;
		margin-top: 24px;
	}

	.listContainer {
		gap: 8px;
		margin-top: 24px;
	}

	.listItem {
		font-size: 11px;
		padding: 6px;
		border-radius: 2px;
	}

	.socialContainer {
		margin-top: 24px;
		gap: 16px;
	}

	.socialTitle {
		font-size: 9px;
	}

	.subsection {
		gap: 16px;
	}

	.blogPostContainer {
		padding: 20px;
		border-radius: 4px;
	}

	.type {
		font-size: 10px;
		margin-bottom: 8px;
	}

	.blogPostTitle {
		font-size: 20px;
	}

	.blogPostBody {
		font-size: 11px;
		margin-top: 8px;
	}

	.link {
		font-size: 10px;
	}

	.blogImage {
		width: 120px;
		margin-top: 16px;
	}

	.date {
		font-size: 10px;
		margin-top: 12px;
	}
	.aboutSubsection {
		gap: 24px;
	}

	.questionAnswerContainer {
		gap: 8px;
	}

	.questionContainer {
		padding: 20px;
		border-radius: 4px;
	}

	.answerContainer {
		padding: 20px;
		border-radius: 4px;
	}

	.question {
		font-size: 13px;
		margin-top: 4px;
	}
}

@media (max-width: 500px) {
	.title {
		font-size: 35px;
	}

	.position {
		font-size: 14px;
	}
}
